# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
#MY OTHER FILTERS
*.ncb
*.suo
*.user
*.dep
*.exe
*.htm
*.idb
*.ilk
*.manifest
*.obj
*.pdb
*.res

#Apple stuff
.DS_Store
build
/Build
/debug
