/src/main_sim.py~
/Release/Sibernetic
*~
# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Simulation output
buffers/connection_buffer.txt
buffers/membranes_buffer.txt
buffers/position_buffer.txt

#Python bytecode
*.pyc

#MY OTHER FILTERS
*.ncb
*.suo
*.user
*.dep
*.exe
*.htm
*.idb
*.ilk
*.manifest
*.obj
*.pdb
*.res

#Apple stuff
.DS_Store
build
/Build
/debug
